@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Titan+One&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

/*-----GRIDAREA-----*/
.grid_contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 190px auto 100px;
    grid-template-areas: 
    "header header header"
    "menu menu menu"
    "footer footer footer";
}
    
.encabezado{
    grid-area: header;
}

.contenido{
    grid-area: menu;  
}

.pie{
    grid-area: footer;  
}



/*-----HEADER-----*/
header{
    background-color:#ffffff;
    position: sticky;
    top: 0%;
}

header nav ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    margin: 40px;
    align-items: center;
   
}

header nav ul li{
    display: inline-block;
    align-items: center;
    align-items: center;

}

header nav ul li a{
    text-decoration: none;
    color:#a96974; 
    font-family: 'Montserrat', sans-serif;
    width: 300;
    
    
}
   
header nav ul li a:hover{
    font-weight: bold;
    width: 10%;

}

.logo{
    width: 100px;
    height: 100px;
}


/*-----MAIN-----*/
.hero{
    background-color: #a96974;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
   
}


img {
    max-width: 100%;
    max-height: 100%;
   }

.imagenes-inicio {
    height: 500px;
    width: 500px;
    display: inline-block;
   }

.Imagen_tarjetas{
    background-color: #e0a778;
}   

.formulario{
    font-family: 'Montserrat', sans-serif;
    background-color: #e0a778;
    color: white;
    text-align: center;
    padding: 80px 80px 80px 80px;
    top: 0%; 
}

.input_form{
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #e0a778;
}


.encabezado-productos h1{ 
    font-family: 'Montserrat', sans-serif;
    color: #a96974;
    text-align: center;
    margin: 30px;
    text-align: center;
       
}

.encabezado-productos p{ 
    font-family: 'Montserrat', sans-serif;
    color: #a96974;
    margin: 30px;
    justify-content: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.texto-descripción{
    font-family: 'Montserrat', sans-serif;
    color: #a96974;
    text-align: center;
    margin: 30px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.imagenes-ilustracionesidigitales{
   width:auto;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 50px;
   margin-right:50px;
   gap: 10px;
   display: grid;
   justify-content: space-around;
   grid-template-columns: repeat(3,1fr);
   grid-auto-rows: auto;
   object-fit: cover;
}

.imagenes-ilustracionesidigitales div img{
    width:1080;
    height:1080;  
}

.grid-item:hover img{
    -webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);
    -o-transform:scale(1.07);
    transform:scale(1.07);
}


.imagenes-fonodepantalla{
    width:auto;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 50px;
   margin-right:50px;
   gap: 10px;
   display: grid;
   justify-content: space-around;
   grid-template-columns: repeat(3,1fr);
   grid-auto-rows: auto;
} 

.imagenes-fonodepantalla div img{
    width:1242;
    height:2208;  
}

.grid-item{ 
    justify-content: space-around;
} 

.grid-item-primero{
    background-color: #a96974;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item-segundo{
    background-color: #470510;
    grid-row-start: 2 ;
    grid-row-end: 4 ;
}

.imagenes-sobremi{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    height: 500px;
    width: auto;
}

.imagenes-sobremi:hover img{
    -webkit-transform:scale(1.07);
    -moz-transform:scale(1.07);
    -ms-transform:scale(1.07);
    -o-transform:scale(1.07);
    transform:scale(1.07);
}

.texto-descripción-yo{
    font-family: 'Montserrat', sans-serif;
    color: #a96974;
    text-align: center;
    margin: 30px;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.productos{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    align-items: center;
 } 
 
 .btn-primary {
    color: #fff;
    background-color:#a96974 ;
    border-color:#a96974;
}

.encabezado-productos h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    width: 300;
}

/*------FOOTER-----*/

footer{
    background-color: #a96974;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*-----MEDIA-----*/

@media screen and (max-width: 930px){
    .logo{
        width: 90px;
        height: 90px;
    }
    
    header nav ul li a{
        font-size: 15px; 
    }

    header nav ul{
       margin: 50px;
    }

    .imagenes-ilustracionesidigitales{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
     }
     
     .imagenes-ilustracionesidigitales div img{
        grid-column: span 1; 
        grid-row: span 1;
     }

     .imagenes-fonodepantalla{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: auto;
     }
     
     .imagenes-fonodepantalla div img{
        grid-column: span 1; 
        grid-row: span 1;
     }

     .productos{
        flex-direction: column;
     } 
     
    }
    

@media screen and (max-width: 691px){

    .logo{
        width:60px;
        height: 60px;
    }

    header nav ul li a{
        font-size: 12px; 
        margin-bottom: 40px;
    }
  
    header nav ul{
        margin: 20px;
        flex-direction: column;
    }

    .imagenes-ilustracionesidigitales{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
     }
     
     .imagenes-ilustracionesidigitales div img{
        grid-column: span 1; 
        grid-row: span 1;
     }

     .imagenes-fonodepantalla{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
     }
     
     .imagenes-fonodepantalla div img{
        grid-column: span 1; 
        grid-row: span 1;
     }
     
     .productos{
        flex-direction: column;
     } 
     
    }
    

    
    

